body {
  font-size: 15px;
}

.cell {
  display: block;
  height: 100px;
  width: 100px;
  background-color: lightblue;
}

.miss {
  background-color: yellow;
}

.hit {
  background-color: green;
}

.win {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
}

#winbox {
  text-align: center;
  font-size: 1.5em;
  padding: 50px;
  height: 300px;
  width: 500px;
  background-color: burlywood;
}

#winbox a {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 20px;
  margin: 0 100px;
  border: 1px solid black;
}

.active {
  visibility: visible;
}

#score {
  float: left;
  font-size: 2em;
  background-color: silver;
  padding: 0 20px;
}

#heading {
  column-span: 2;
}

#score td {
  padding: 0 20px;
}


#container {
  display: flex;
  width: 100%;
  justify-content: center;
}

